.book-table__reservation{
  padding: 10rem 0;
  height: 108rem;
}


@media (max-width: 1200px){
  .book-table__reservation{
    padding: 7rem 0;
    height: 90rem;
  }
}

@media (max-width: 900px){
  .book-table__reservation{
    padding: 5rem 0;
    height: 80rem;
  }
}